# vi: filetype=swayconfig

for_window [class="MEGAsync"] floating enable
for_window [title="MEGAsync"] floating enable

for_window [title="Firefox — Sharing Indicator"] floating enable, inhibit_idle open

for_window [app_id="Microsoft-edge-dev"] move container to workspace $ws1
for_window [app_id="firefox"] move container to workspace $ws1

for_window [app_id="Alacritty"] move container to workspace $ws3
for_window [app_id="foot"] move container to workspace $ws3

for_window [app_id="zathura"] move container to workspace $ws5

for_window [app_id="zoom"] move container to workspace $ws7, floating enable
for_window [app_id="zoom" title="Zoom Meeting"] floating disable, inhibit_idle focus

## move container to workspace $ws8
for_window [class="Spotify"] move container to workspace $ws8
