alias eemerge="elogind-inhibit sudo emerge"

alias src='exec "${SHELL}" -1'

alias shutdown="sudo shutdown"
alias reboot="sudo reboot"

alias ls="exa --icons"
alias la="exa --icons -la"
alias tree="exa --icons --tree"
alias cat="bat"

alias diff="diff --color=auto"
alias grep="grep --color=auto"
alias ip="ip -color=auto"
