alias eemerge="sudo elogind-inhibit emerge"

alias src="omz reload"

alias shutdown="sudo shutdown"
alias reboot="sudo reboot"

alias diff="diff --color=auto"
alias grep="grep --color=auto"
alias ip="ip -color=auto"
