[submodule "/home/leonardo/.config/kitty/kitty-themes"]
	path = /home/leonardo/.config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule "/home/leonardo/.config/alacritty/pycritty"]
	path = /home/leonardo/.config/alacritty/pycritty
	url = https://github.com/Sevz17/pycritty
[submodule "/home/leonardo/.oh-my-zsh/custom/themes"]
	path = /home/leonardo/.oh-my-zsh/custom/themes
	url = https://github.com/Sevz17/Agnoster-themes
[submodule "/home/leonardo/.oh-my-zsh"]
	path = /home/leonardo/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
