export PATH=$HOME/.local/bin:$PATH
export PATH=$HOME/.cargo/bin:$PATH

xkbmap --recovery
unclutter -idle 1 -jitter 2 -root &
chbg
nm-applet &
picom &
udiskie -t &
setxkbmap -option keypad:pointerkeys
