export PATH=$HOME/.local/bin:$PATH
export PATH=$HOME/.cargo/bin:$PATH

setxkbmap -option keypad:pointerkeys
xkbmap --recovery
unclutter -idle 1 -jitter 2 -root &
chbg
nm-applet &
picom &
udiskie -t &

export _JAVA_AWT_WM_NONREPARENTING=1
