/*

!.gitignore
!alacritty
!bat
!dash
!fnott
!foot
!fuzzel
!imv
!mpv
!nvim
!pipewire
!powershell
!swappy
!sway
!swayidle
!tmux
!waybar
!weechat
!wireplumber
!xdg-desktop-portal-wlr
!yambar
!zathura
!zsh
