/*

!.gitignore
!alacritty
!bat
!dash
!fnott
!foot
!fuzzel
!imv
!kitty
!mako
!mpv
!neofetch
!nvim
!pipewire
!powershell
!ranger
!silver
!swappy
!sway
!swayidle
!tmux
!waybar
!wayfire.ini
!weechat
!wireplumber
!xdg-desktop-portal-wlr
!yambar
!zathura
!zsh
